body h2{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
.landing{
    background-image:url('../media/spicy.jpg');
    background-size:cover;
    background-position:center;
    height: 100vh;
    color:white;

}
header a{
    text-decoration: none;
    color:sandybrown;
    padding: 2em;
}
header{
    display:flex;
}
#logo{
    flex:3;
    font-size: 1.25em;

}
nav{
    flex:2;
    display:flex;

}
nav a{
    flex:1;
}
nav a:hover{
    color: aqua;

}
.maintext{
    display:flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    padding:3em;
}
.tagline1{
    color:crimson;
    font-size:2.5em;
    font-weight: bolder;
}
.tagline2{
    color:gold;

}
.maintext div{
    margin-top: .75em;
}
.maintext button{
    width:20vw;
    margin-top:2em;
    border-radius: 2em;
    padding:.7em;
    background-color:lightgreen;

}
.menu{
    
    background:linear-gradient(to right, rgb(128, 122, 122) , rgb(46, 41, 41));
    color:white;
}
#menuheading,#locheading{
    background:linear-gradient(to right, rgb(128, 122, 122) , rgb(46, 41, 41));
    font-size: 2.5em;
    color:red;
    display:flex;
    justify-content: center;

}
.menu th{
    color:aquamarine;
    font-size:1.5em;
    text-decoration: underline;
}
.starters,.chats,.maindish tr{
    margin:0;
    padding:2 em;
    font-size: 1.5em;
    font-weight: 100;
}
.menu img{
    padding-left: 3em;
}
table{
    width:100%;
    padding:1em;
}
.menu tr{
    display:flex;
    justify-content: center;
    margin-top: 0.8em; 
}
.menu td:nth-child(1){
    flex:1;
    justify-content: left;
}
.menu td:nth-child(2){
    justify-content: right;
}
.Location{
    background:linear-gradient(to right, rgb(65, 63, 63), rgb(153, 150, 150));
    color:white;
    padding: 2em;
    font-size: 1em;
    display:flex;
    flex-wrap: wrap;

}
.Location h4{
    font-size:1.5em;
    color:aquamarine;

}
.Location div{
    flex:1;
    min-width: 220px;
}